body{
    background-color: rgb(136, 94, 154);
    margin-top: 2px;

}

.menu{
    border: 2px solid;
    height:30px;
    display: flex;

}
.name{
    border: 2px solid;
    width: fit-content;

}
.aboutme{
    border: 2px solid;
    
    width: fit-content;
    margin-left: 50%;

}
.contact{
    border: 2px solid;
    width:fit-content;
    position:absolute;
    left: 80%;    
    

}